In [56]:
## 문자열 내장 함수
a = ' hEllO woRLd '

In [4]:
## 문자열을 대문자로 변경
print(a.upper())
# 문자열을 모두 소문자로 변경
print(a.lower())
## 대문자를 소문자, 소문자를 대문자로 변경
print(a.swapcase())
## 단어의 첫글자만 대문자로 변경
print(a.title())

 HELLO WORLD
 hello world
 HeLLo WOrlD
 Hello World

In [57]:
## 문자열에서 좌우의 공백을 제거
# 벗겨내기 -> strip() 인자의 값을 기본값을 사용 -> 공백제거
a.strip()

'hEllO woRLd'

In [6]:
# 문자열에서 좌측의 공백을 제거
a.lstrip()

'hEllO woRLd '

In [7]:
#문자열에서 우측의 공백을 제거
a.rstrip()

' hEllO woRLd'

In [8]:
price = '$100'
# price를 숫자의 형태로 변경

In [ ]:
# 에러 발생
# $가 숫자로 변경이 되지 않기 때문
int(price)

In [13]:
# price를 숫자로 바꾸기 위해
## 왼쪽에 있는 $를 없앤다.
price = '$100'
new_price = price.lstrip('$')
print(new_price, type(new_price))
int(new_price)
print(new_price ,type(new_price))

100 <class 'str'>
100 <class 'str'>

In [14]:
test_str = "\n \t text \t \n"
print(test_str)
print(test_str.strip())

 	 text

text

In [15]:
## strip() 함수는 문자가 시작되기 전, 문자가 끝나고 나서 데이터를 제거
# 문자열 사이에 데이터들을 변경해주기 위한 함수
## replace(변경할 문자열, 치환 될 문자열)
a.replace('hEllO', 'Hi')

' Hi woRLd '

In [16]:
## 공백을 제거할 이유로 replace()
a.replace(" ","")

'hEllOwoRLd'

In [17]:
test_str2 = "hello \n world"

In [18]:
print(test_str2)

hello
 world

In [19]:
#문자열 사이의 공백이 제거되지 않을때
test_str2.strip()

'hello \n world'

In [20]:
naa = test_str2.replace("\n", "")
naa.replace(" ", "")

'helloworld'

In [44]:
# 문자열을 리스트로 변경
a = "test test2 test3"

In [45]:
# 문자 하나 하나 씩을 각원소로 하여 리스트 생성
list(a)

['t',
 'e',
 's',
 't',
 ' ',
 't',
 'e',
 's',
 't',
 '2',
 ' ',
 't',
 'e',
 's',
 't',
 '3']

In [23]:
# 문자열에서 특정 문자로 글자를 나눠서 리스트로 생성
# split()
a.split()

['test', 'test2', 'test3']

In [24]:
b = "20/30/40"

In [25]:
b.split("/")

['20', '30', '40']

In [26]:
# 문자열에서 비교 연산을 하는 함수
query = 'select * from table'
query2 = """
    SELECT
    *
    FROM
    TABLE
"""

In [27]:
# querry, querry2 가 select로 시작하는가
query[:6] == 'select'

True

In [28]:
query2.strip().lower()[:6] == 'select'

True

In [29]:
print(query.lower().split())
query.lower().split()[0] == 'select'

['select', '*', 'from', 'table']

True

In [30]:
print(query2.lower().split())
query2.lower().split()[0] == 'select'

['select', '*', 'from', 'table']

True

In [31]:
print(query.lower().strip())
query.lower().strip().startswith('select')

select * from table

True

In [32]:
print(query2.lower().strip())
query.lower().strip().startswith('select')

select
    *
    from
    table

True

In [53]:
테스트 = {'키' :[' 나는 무엇을 원하는가 ']}
테스트['키'][0].split().startswith('나는')

AttributeError: 'list' object has no attribute 'startswith'